.create-hackathon{
    width: inherit;
    margin-top: 0px;
    padding-left: 0px;
    margin-left: 0px;
    padding-right: 0px;
}

.create-hackathon .rajat_hackathon_form_wrapper{
    display: flex;
    justify-content: center;
}

.create-hackathon .rajat-row{
    width: 70%;
}

.create-hackathon .rajat_container{
    background-color: #e4e4e4;
}
.create-hackathon .rajat_hacakathon_list_card{
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffffff85;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding: 1.25rem;
    margin-top: 13px;
}

.create-hackathon .rajat_hackathon_card_link,
.create-hackathon .rajat_hackathon_card_link:hover{
    color: inherit;
    position: block;
}

.create-hackathon .rajat_hackathon_list_description_col{
    border-right: 2px solid #fba747
}

.create-hackathon .rajat_hackathon_list_description{
    color: #404040;
}

.create-hackathon .rajat_muted_span{
    color: grey;
}

.create-hackathon .rajat_hackathon_info>p{
    margin: 0 0 5px;
}

.create-hackathon .rajat_register,
.create-hackathon .rajat_register:hover{
    background-image: none;
    background-color: #fba847;
    text-shadow: none;
    padding: 14px
}


.create-hackathon .rajat_hackathon_form_wrapper{
    margin-top: 20px;
    padding: 10px;
}

.create-hackathon .rajat_hackathon_form_wrapper_div{
    border-left: 2px solid #fba747;
}
.create-hackathon .rajat_hackathon_registration_form label{
    font-family: 'Gugi', cursive;
}
.create-hackathon .rajat_form_row{
    margin-top: 10px;
    margin-bottom: 3px;
}