
body{
    background: url("./img/hackathon-pattern.png");
    background-color: #e4e4e4;
}

body{
    font-family: 'Montesarrat', sans-serif;
}

h1, h2, h3, h4, h5{
    font-family: 'Gugi', cursive;
}

.rajat_container{
    background-color: #e4e4e4;
}

.rajat_hacakathon_bill_container{
    width: 40%;
    margin: 0 auto;
    padding: 10px 50px;;
    background-color: white;
    text-align: center;
    box-shadow: 2px 2px #00000057;
    margin-top: 50px;
}

.rajat_hackathon_bill_details{
    font-family: monospace;
    padding-top: 20px;
    font-size: 20px;
}

.rajat_hackathon_bill_details .row{
    margin-bottom: 10px;
}
.bill-left{
    text-align: left;
}

.bill-right{
    text-align: right;
}

.bill_total_row{
    border-top: 1px dashed black;
}

.rajat_register,
.rajat_register:hover{
    background-image: none;
    background-color: #fba847;
    text-shadow: none;
}