.myorganization{
    width: inherit;
    margin-top: 0px;
    padding-left: 0px;
    margin-left: 0px;
    padding-right: 0px;
}

.myorganization .alert-danger, .myorganization .alert-success {
    height: 50px;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center
}
.create-row{
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column
}

.modal{ display:block; }

.form-group-md{
    margin-top: 10px;
    margin-bottom: 10px;
}

.myorganization .btn-dark, .myorganization .btn-dark:active:focus, .myorganization .btn-dark:active:hover, .myorganization .btn-dark:hover, .myorganization .btn-dark:active, .myorganization .btn-dark:visited, .myorganization .btn-dark:focus{
    background: #333333;
    color: white;
}

.required{
    color: red;
}

.myorg{
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.request-row{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.Collapsible {
    background-color: white; 
    width: 65%;
}
  
.Collapsible__contentInner {
    padding: 10px;
    border: 1px solid #ebebeb;
    border-top: 0; 
}

.Collapsible__contentInner p {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px; 
}

.Collapsible__contentInner p:last-child {
    margin-bottom: 0; 
}
  
.Collapsible__trigger {
    display: block;
    font-weight: bold;
    font-size: large;
    text-decoration: none;
    color: #333333;
    position: relative;
    border: 1px solid white;
    padding: 10px;
    background: #5bbfdd;
    color: white; 
}

.Collapsible__trigger:after {
    font-family: 'FontAwesome';
    content: '\f107';
    font-weight: bold;
    position: absolute;
    right: 10px;
    top: 10px;
    display: block;
    transition: transform 300ms; 
}
.Collapsible__trigger.is-open:after {
    transform: rotateZ(180deg); 
}

.Collapsible__trigger.is-disabled {
    opacity: 0.5;
    background-color: grey; 
}
  
  .CustomTriggerCSS {
    background-color: lightcoral;
    transition: background-color 200ms ease; 
}
  
  .CustomTriggerCSS--open {
    background-color: darkslateblue; 
}
  
  .Collapsible__custom-sibling {
    padding: 5px;
    font-size: 12px;
    background-color: #CBB700;
    color: black; 
}